* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    
    /* colors */
    --hue: 240;
    /* HSL color mode */
    --color1: #3b070b;
    --color2: #A60D0D;
    --color3: #F21616;
    --color4: #730A0A;
    --color5: #2b0c0c;
    --colorhover:#c22b2b;
    --colortitulos:#d33b3b;
  }

body {
background-color: var(--color5);
 background-repeat: no-repeat;
 background-size: 110%;
    display: grid;
    justify-content: center;
    
} 

#header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
      }

      .logo {
        margin-bottom: 4em;
        height: 10px;
     width: 150px;
     }

     img {
        width: 100%;
    }

    main {
        justify-content: space-around;
        margin-top: 5em;
        }
        
        #formulario {
            padding:35px;
            background-color:#202024 ;
            border-radius: 15px;
            width: 500px;
            }
    
        form > p {
            margin: 20px;
            padding: 20px;
        }
        
        .botao {
            background-color: var(--color1);
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            }
            
            .botao:hover {
                background-color: #1f1f22d8;
                cursor: pointer;
                }
        
                #titulos {
                    color: #E1E1E6;
                    text-align: center;
                    font-size: 7px;
                    font-style: italic;
                    cursor: pointer;
                }
        #titulos:hover {
        font-size: 7.1px;
        }
        
        span {
            color: var(--color3);
        }
        
        #t1 {
          
          cursor: pointer;
          margin-left: 18em;
          margin-bottom: 10;
        
        }
        
        #t2 {
            cursor: pointer;
        margin-left: 15em;
        margin-bottom: 10;
        }
        
        label {
            color: black;
            font-size: 20px;
            font-weight: 700;
            font-style: italic;
            
        }
        
        input {
            width: 100%;
            height: 50px;
        border-radius: 5px;
        border: var(--color2);
        margin-bottom: 1em;
        font-weight: medium;
        font-style: italic;
        padding-left: 7px;
        background: rgb(18, 18, 20);
        border-color: rgb(18, 18, 20);
        font-size: 7px;
        }
        
        
        #iemail,
        #isenha {
            color: rgba(255, 255, 255, 0.76);
        font-size: 15px;
            
        } 
        #iemail:hover {
           box-shadow:1px 1px  var(--color2);
        }
        #isenha:hover {
            box-shadow:1px 1px  var(--color2);
        }
        
        #iemail:focus {
            outline: 2px solid var(--color2);
        }
        
        #isenha:focus {
            outline: 2px solid var(--color2);
        }
        
        #ichek {
            width: 50px;
            height: 15px;
            
        }
        
        .ichek {
            margin: 0px;
        padding: 0px;
        font-style: italic;
        font-size: 15px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.685);
        
        }
        
        
        
        a {
            color: var(--color3);
            font-size: 18px;
            font-weight: bold;
        }
        
        

/*==============================================*/


@media screen and (max-width: 777px) {
  #formulario {
     width:450px ;
     margin-right: -1em;
  }
    }